@media (min-width:1px) {
	.Introduction {
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.Introduction-hello h1 {
		font-size: 4.5rem;
		margin: 5px 0;
		text-align: center;
	}

	.Introduction-description,
	.Introduction-hello h1 {
		text-align: center;
	}
}

@media (min-width:330px) {
	.Introduction-hello h1 {
		font-size: 5rem;
		margin: 10px 0;
	}
}

@media (min-width:599px) {

	.Introduction-description,
	.Introduction-hello h1 {
		text-align: left;
	}
}