.Category-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Category-page h2 {
    text-transform: capitalize;
    margin-bottom: 2rem;
}