@media (min-width:1px) {
	.CategoryList {
		flex-basis: calc(50% - 40px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
    
	.CategoryList p {
		text-align: center;
	}
}

@media (min-width:599px) {
  .CategoryList p {
		text-align: left;

  }
}